.formulario {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 1rem;
}

input, textarea {
  padding: 2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
}

.mensaje {
  max-width: 400px;
  margin: 0 auto;
}